<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <style>
		
	  </style>
  </head>
  <body class="bg">
  	<% if(!user){ %><% include partials/nav.ejs %>
    <% }else{ %><% include partials/adminnav.ejs %><% } %>
  	<header>
    	<img src="images/logo.jpeg">
  	</header>
    <div class="container">
      <div style="text-align:center">
        <h1><strong>Contact Us</strong></h1>
        <p>
          <h2>Aggarwal Bonding Industries, GT Road Panipat</h2>
          <h2>Aashish Bansal</h2>
          <h2>P.No. 9253009200</h2>
          <h2>Email: stuff.abi@gmail.com</h2>
        </p>
      </div>
    </div>
    <div class="footer">Site Created and hosted by dbansal</div>
  </body>
</html>
